@use "components";

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-image: url(../assets/img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: components.$color-primary-pale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 410px;
}

.card {
    border-radius: 20px;
    display: flex;
    border: none;
    overflow: hidden;
    box-shadow: 0 30px 30px hsla(245, 75%, 52%, 0.178);
    ;

    .card-image {

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card-content {
        margin: 2rem;
        text-align: center;

        .card-title {
            h2 {
                font-weight: 900;
                color: components.$color-neutral-dark;
            }
        }

        .card-desc {

            p {
                font-weight: 500;
                color: components.$color-neutral-desaturated;
            }
        }
    }
}

.plan {
    background-color: components.$color-neutral-pale;
    // display: flex;
    // justify-content: space-between;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 2rem;
    // gap: 1rem;

    .plan-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        .change {
            padding-right: 0;
            font-size: 14px;
        }

        .image {
            align-self: center;
            padding-right: 0;
        }

        .plan-title {
            display: flex;
            flex-direction: column;
            padding-left: 0;
            align-self: center;

            h4 {
                margin-bottom: 0;
                font-weight: 900;
                font-size: 16px;
                color: components.$color-neutral-dark;
            }

            p {
                color: components.$color-neutral-desaturated;
                margin-bottom: 0;
            }
        }
    }

    a {
        align-self: center;
        color: components.$color-primary-bright;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            text-decoration: none;
            color: rgba(118, 108, 241, 255);
        }
    }
}

.pay-btn {
    margin-bottom: 2rem;
    box-shadow: 0 20px 13px hsla(245, 75%, 52%, 0.178);

    &:hover {
        background-color: rgba(118, 108, 241, 255);
    }
}

.cancel {
    margin: 0 0 1rem 0;

    a {
        text-decoration: none;
        color: components.$color-neutral-desaturated;
        font-weight: 700;
        font-size: 16px;

        &:hover {
            color: components.$color-neutral-dark;
        }
    }
}

.attribution {
    display: none;
}